body{
    direction: rtl;
}
#commercial{
    height: 200px;
    width: 900px;
    border-width:3px;
    border-style:groove;
    border-color:#f6e7e7;
    position:relative;
    right:200px;
    padding: 15px;
}
#stupid_commercial{
    height: 200px;
    width: 890px;
}

#sidebar{
    position: fixed;
    z-index: 60;
    top:50px;
    height: 320px;
    width: 110px;
}

#stupid_commercial:hover{
    cursor: pointer;
}

header{
    height: 133px;
    width: 1200px;
    position:relative;
    right:100px;
   
    

}
.ynet_logo{
    height: 120px;
    width: 190px;
    position: absolute;
    left:500px;
    top: 30px;

}
#bell_logo{
    height: 35px;
    width: 35px;
    position: absolute;
    left:1150px;
    top: 100px;

}
#notebook_logo{
    height: 35px;
    width: 35px;
    position: absolute;
    left:1050px;
    top: 90px;
}
#sun_logo{
    height: 37px;
    width: 37px;
    position: absolute;
    left:920px;
    top: 90px;
}
#ynet{
    height: 40px;
    width: 200px;
    position: absolute;
    left: 0px;
    top: 90px;
    border-style:groove;
    border-color:#0b0a0a;
    border-radius: 24%;
    border-width: 2px;   

}
#ynet_pic{
    height: 60px;
    width: 70px;
    position: absolute;
    left: 60%;
    top:-10px;
    z-index: -1;

}

#profile{
    height: 40px;
    width: 40px;
    position: absolute;
    left: 24%;
    top:90px;
}
nav{
    width:1200px;
    color:white;
    height:25px;
    background-color: red;
    overflow: hidden;
    text-align: center;
    position: sticky;
    right:100px;
    margin-bottom: -30px;
    top:0px;
    z-index: 54;

    

}
nav a:hover{
    font-weight: bold;
}
nav a{
    color:white;
    decoration:none;
    margin-left: 15px;
    margin-right: 15px;
}
#more{
    border-style:groove;
    border-color:#fdfbfb;
    border-radius: 20%;
    border-width: 2px;   
}
table{
    background-color: rgb(219, 247, 247);
    width: 1220px;
    height: 100px;
    position: relative;
    right:100px;
    margin-bottom: -30px;
    
}
.table_text{
    border-left:2px dotted;
    color:rgb(19, 17, 17);
    height:25px;
    text-align: center;

}

  p:hover {
        color:blue
  }

#red_transport{
color: red;
cursor: pointer;
margin-right: 40px;
}
.image_container{
    width: 690px;
    height: 450px;
    border-width:3px;
    border-style:groove;
    position:relative;
    right:550px;
    bottom:400px;

}
#news{
    width: 390px;
    height: 380px;
    position:relative;
    right:70px;
    margin-bottom: -20px;
}
#bibi{
    width: 690px;
    height: 450px;
    margin-bottom: -30px;

    

}
#sticky_commercial{
    height: 143px;
    width: 1200px;
    position: sticky;
    
 
}
#sticky{
    position: sticky;
    bottom:0px;
    
}   

#wheelchair{
    height: 43px;
    width: 40px;
    position: fixed;
    right:1310px;
    top: 400px;
    z-index:9;
    cursor: pointer;
}
#butterfly{
    height: 43px;
    width: 40px;
    position: fixed;
    right:1310px;
    z-index:9;
    cursor: pointer;
}
#blue{
    height: 43px;
    width: 50px;
    background-color: rgb(111, 215, 215);
    position: fixed;
    right:1320px;
    z-index: 6;
    border-radius: 10%;
    

}
#buttrerfly:hover{
    padding-left: 20px;
    transition: 1s;

    
}
#mivzak{
    position: absolute;
    left:1110px;
    top: 90px;
}
#mail{
    position: absolute;
    left:970px;
    top: 90px;
}
#telaviv{
    position: absolute;
    left:840px;
    top: 90px;
}
#connect{
    position: absolute;
    left:230px;
    top: 90px;
}
#premium{
    position: absolute;
    left:00px;
    top: -10px;
}
#bottom1{
    position: relative;
    width: 290px;
    height: 580px;
    bottom:380px

}
#bottom2{
    position: relative;
   bottom:640px;
   width: 330px;
    

}
#bottom3{
    position: relative;
    width: 330px;
    height: 270px;
    bottom:380px;
    left:330px;

}
#bottom4{
    position: relative;
    width: 180px;
    height: 130px;
    bottom:780px;
    left:330px;

}
#bottom4e{
    position: relative;
    width: 458px;
    height: 130px;
    bottom:915px;
    left:315px;
    background-color: red;
    color: white;

    right:810px;
}
.mover{
    position: absolute;
    right:15px;
}
#news2{
    width: 640px;
    height: 130px;
    border-color:black ;
    right:628px;
    bottom: 920px;
    position: relative;
}
.newsbig{
position: absolute;
width: 458px;
height: 130px;
bottom:0px;
left:0px;
background-color: red;
color: white;
}
.newsbig2{
    position: absolute;
    width: 458px;
    height: 130px;
    bottom:0px;
    left:0px;
    background-color: rgb(56, 24, 129);
    color: white;
    }
#news3{ width: 640px;
    height: 130px;
    border-color:black ;
    right:628px;
    bottom: 900px;
    position: relative;
}
.newsbig3{
    position: absolute;
    width: 458px;
    height: 130px;
    bottom:0px;
    left:0px;
    background-color: red;
    color: white;
}
#news4{ width: 640px;
    height: 130px;
    border-color:black ;
    right:628px;
    bottom: 900px;
    position: relative;
}

.newsbig4{
    position: absolute;
    width: 458px;
    height: 130px;
    bottom:0px;
    left:0px;
    background-color: rgb(21, 5, 74);
    color: white;
}
.bottom5{
    width: 180px;
    height: 130px;
}
#first_img{
    margin-bottom: -30px;
    position: relative;
    right:70px;
}
#most{
    width: 1308px;
    height: 170px;
    position: relative;
    border-color:black ;
    bottom:1020px;
}
#blue1{
    width: 588px;
    height: 30px;
    position: absolute;
    border-color:black ;
    bottom:0px;
    background-color: blue;
}
#blue2{
    width: 638px;
    height: 30px;
    position: absolute;
    border-color:black ;
    bottom:0px;
    background-color: blue;
    right:630px;
}
#blue_img{
    position: absolute;
    width: 180px;
    top: 200px;
    height: 110px;
    
}
#blue_img1{
    position: absolute;
    width: 180px;
    top: 200px;
    height: 110px;
    left:40px;
}
#blue_img2{
    position: absolute;
    width: 180px;
    top: 200px;
    height: 110px;
    right:200px;
}
#blue_img3{
    position: absolute;
    width: 180px;
    top: 200px;
    height: 110px;
    right:630px;
}
.mover2{
    position: absolute;
    right:15px;
    color:white;
    top:-14px;
}

#blue_img4{
    position: absolute;
    width: 180px;
    top: 200px;
    height: 110px;
    right:420px;
}

#blue_img5{
    position: absolute;
    width: 180px;
    top: 200px;
    height: 110px;
    right:870px;
}

#table2{
    width: 1220px;
    height: 100px;
    position: absolute;
    top:310px;
   right:0px;
    background-color: white;
}
.table2_text{
  
    color:rgb(19, 17, 17);
    height:25px;
    text-align: center;
}
/* th:nth-last-of-type(2){border-none;} */